.container {
    width: 950px;
    background-color: silver;
    margin: 0 auto;
    padding-top: 12px;

.top-nav {
    margin: 0 20px 20px 20px; 
    height: 100px;
    background-color: green;
}

.side-nav {
    margin: 10px;
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
}

.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.sub-content {
    margin: 5px 5px 10px;
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    vertical-align: top;
}

#advertisement {
    margin: 5px;
    height: 120px;
    width: 660px;
    background-color: purple;
    clear: both;
}
}